<!DOCTYPE html>
<html>
    <head>
        <title> Olympics </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		body {
                background-image: url("https://t4.ftcdn.net/jpg/00/20/60/77/360_F_20607797_CfLnzbbZB0NBp9QMfZR7GzDNooDnmtzo.jpg");
                background-repeat: repeat-y;
                background-size: cover;
                height: 1024px
            }

            table {
                background-color: #ffffff;
            }
	</style>
    </head>

    <body>
        <header style="padding: 30px; text-align: center; background-color: #14967d; color: #e0e0e0;">
            <h1 style="font-family: 'Lucida Calligraphy', cursive;">Athletes over 30 with Salary > Average</h1>
        </header> <br>

	<div class="adv1">
		<table border="1">
                    <tr>
			<th>Sr. No.</th>
                        <th>Athlete Name</th>
                        <th>Discipline</th>
                        <th>NOC</th>
                        <th>Event</th>
                        <th>Teams</th>
                        </tr>

                    <%
                        if(data_.length !=0){
                        var i=1;
                        data_.forEach(function(res){
                    %>
                    <tr>
                        <td><%=i; %></td>
                        <td><%=res.Ath_Name %></td>
                        <td><%=res.Discipline %></td>
                        <td><%=res.NOC %></td>
                        <td><%=res.Event %></td>
                        <td><%=res.Name %></td>
                    </tr>
                    <%  i++; }) %>
                    <% } else{ %>
                    <tr>
                        <td colspan="7">Not Applicable</td>
                    </tr>
                    <% } %>
                   </table>
	</div>
    </body>
</html>
