<!DOCTYPE html>
<html>
    <head>
        <title> Olympics </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.min.js"></script>

        <style>
                body {
                background-image: url("https://t4.ftcdn.net/jpg/00/20/60/77/360_F_20607797_CfLnzbbZB0NBp9QMfZR7GzDNooDnmtzo.jpg");
                background-repeat: repeat-y;
                background-size: cover;
                height: 1024px
            }

            table {
                background-color: #ffffff;
            }
        </style>
    </head>

    <body>
        <header style="padding: 30px; text-align: center; background-color: #14967d; color: #e0e0e0;">
            <h1 style="font-family: 'Lucida Calligraphy', cursive;">Update Medals</h1>
        </header> <br>
                <div class="btn">
		
                    <button onclick="show()">Insert</button>

                   <form id="input_form_5" action="/update_meds" method="post" style="display: none;">
                        <input type="text" name="input_ath_name" placeholder="Insert Athlete Name...">
                        <input type="text" name="input_noc" placeholder="Insert Country...">
                        <input type="text" name="input_num_t" placeholder="Insert Medal Type...">
                        <input type="submit" value="Submit">
                   </form>

                   <br>
                   
                   <script>
                        function show() {
                                const form_in = document.getElementById("input_form_5");

                                if (form_in.style.display === "none") {
                                    form_in.style.display = "block";
                                } else {
                                    form_in.style.display = "none";
                                }
                       }
			
                   </script>

                   <table border="1">
                    <tr>
                        <th>Sr. No.</th>
                        <th>Athlete Name</th>
                        <th>NOC</th>
                        <th>Num_total</th>
                        <th>Num_Gold</th>
                        <th>Num_Silver</th>
                        <th>Num_Brozen</th>
                        </tr>

                    <%
                        if(data_med.length!=0){
                        var i=1;
                        data_med.forEach(function(res){
                    %>
                    <tr>
                        <td><%=i; %></td>
                        <td><%=res.Ath_Name %></td>
                        <td><%=res.NOC %></td>
                        <td><%=res.Num_total %></td>
                        <td><%=res.Num_Gold %></td>
                        <td><%=res.Num_Silver %></td>
                        <td><%=res.Num_Brozen %></td>
                    </tr>
                    <%  i++; }) %>
                    <% } else{ %>
                    <tr>
                        <td colspan="7">Not Applicable</td>
                    </tr>
                    <% } %>
                   </table>
                </div>
    </body>
</html>
